<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Social Network of University of Holguin">
    <title>Airport - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'account/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/icon.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/roboto.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/ghpages.css' %}">
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<!--pie de la pagina-->

<!--fin del pie de la pagina-->


<script src="{% static 'account/js/jquery-2.0.1.min.js' %}"></script>
<script src="{% static 'account/js/materialize.min.js' %}"></script>
<script src="{% static 'account/js/toastr.min.js' %}"></script>
<script src="{% static 'account/js/main.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>