{% extends 'base.html' %}
{% block content %}
    <ul id="bibliografic" class="dropdown-content">
        <li>Efemérides</li>
        <li>Normas</li>
        <li>Decretos</li>
    </ul>
    <ul id="user-menu" class="side-nav">
        <li><a href="#">ver perfil</a></li>
        <li><a href="#">editar perfil</a></li>
        <li><a href="{% url 'account:logout' %}">cerrar sesion</a></li>
    </ul>
    <nav class="nav-wrapper teal" role="navigation">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="#" data-activates="user-menu" class="button-collapse"><i class="material-icons">account_circle</i></a>
        <ul class="hide-on-med-and-down">
            <li><a href="{% url 'dashboard' %}">Inicio</a></li>
            <li><a href="#" class="dropdown-button" data-activates="bibliografic">Bibliografía</a></li>
        </ul>
        <div class="right">
            <ul>
                <li><a href="#" data-activates="user-menu" class="navbar-collapse">{{ user.username }}</a></li>
                <li><a href="#"><i class="material-icons">account_circle</i></a></li>
            </ul>
        </div>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'dashboard' %}">Inicio</a></li>
            <li><a href="#">Bibliografía</a></li>
        </ul>
    </nav>
    {% block content-down %}{% endblock %}
{% endblock %}