{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <ul id="bibliografic" class="dropdown-content">
        <li><a href="{% url 'event:list_event' %}">
            <div class="blue-text">Efemérides</div>
        </a></li>
        <li><a href="{% url 'model:list_law' %}">
            <div class="blue-text">Normas, Decretos y Leyes</div>
        </a></li>
    </ul>

    <ul id="models" class="dropdown-content">
        <li><a href="{% url 'model:detail_area' profile.area.pk %}">
            <div class="blue-text">R-01 PG.190-01</div>
        </a>
        </li>
        <li><a href="{% url 'model:list_law' %}">
            <div class="blue-text">R-01 PG.190-02</div>
        </a></li>
        <li><a href="{% url 'model:list_emergency' %}">
            <div class="blue-text">R-01 PG.190-03</div>
        </a></li>
        <li><a href="{% url 'model:list_communication' %}">
            <div class="blue-text">R-01 PG.190-04</div>
        </a></li>
        <li><a href="{% url 'audit:list_general_program' %}">
            <div class="blue-text">R-01 PG.190-05</div>
        </a></li>
        <li><a href="{% url 'waste:list_dangerous_waste' %}">
            <div class="blue-text">R-01 PG.190-06</div>
        </a></li>
        <li><a href="#">
            <div class="blue-text">R-01 PG.190-07</div>
        </a></li>
        <li><a href="#">
            <div class="blue-text">R-01 PG.190-08</div>
        </a></li>
        <li><a href="#">
            <div class="blue-text">R-01 PG.190-09</div>
        </a>
        </li>
    </ul>

    <nav class="nav-wrapper blue" role="navigation">
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="#" data-activates="user-menu" class="button-collapse"><i class="material-icons">account_circle</i></a>
        <ul class="hide-on-med-and-down">
            <li><a href="{% url 'dashboard' %}">Inicio</a></li>
            <li><a href="#" class="dropdown-button" data-activates="models">Modelos</a></li>
            <li><a href="#" class="dropdown-button" data-activates="bibliografic">Bibliografía</a></li>
            <li><a href="{% url 'picture:list_picture' %}">Im&aacute;genes</a></li>
            <li class="right">
                <a href="#" id="test">
                    {#                    <i class="material-icons right">account_circle</i>#}
                    <img src="{{ profile.picture.url }}" class="circle right" width="50" height="50">
                    Bienvenid@ {{ user.username }}
                </a>
            </li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'dashboard' %}">Inicio</a></li>
            <li><a href="#">Bibliografía</a></li>
        </ul>
    </nav>

    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="{% static 'account/images/office.jpg' %}">
                </div>
                {% if profile.picture %}
                    <a href="#"><img class="circle" src="{{ profile.picture.url }}"></a>
                {% else %}
                    <a href="#"><img class="circle" src="{% static 'account/images/user.png' %}"></a>
                {% endif %}
                <a href="#"><span class="white-text name">{{ profile.get_full_name }}</span></a>
                <a href="#"><span class="white-text email">{{ profile.email }}</span></a>
            </div>
        </li>
        <li><a href="{% url 'account:detail_user' profile.pk %}"><i class="material-icons">account_circle</i>Ver perfil</a>
        <li><a href="{% url 'account:update_user' profile.pk %}"><i class="material-icons">mode_edit</i>Editar
            perfil</a></li>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        {% if user.is_superuser %}
            <li><a class="subheader">Herramientas</a></li>
            <li><a href="{% url 'account:list_user' %}">listado de usuarios</a></li>
            <li><a href="{% url 'account:create_user' %}">crear usuario</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'model:list_area' %}">Listado de Areas</a></li>
            <li><a href="{% url 'model:create_area' %}">Crear un Area</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'model:list_law' %}">Todas las leyes</a></li>
            <li><a href="{% url 'model:create_law' %}">Subir una ley</a></li>
            <li class="divider"></li>
        {% endif %}
        <li class="subheader">Im&aacute;genes</li>
        <li><a href="{% url 'picture:list_picture' %}">Todas las im&aacute;genes</a></li>
        {% if user.is_superuser %}
            <li><a href="{% url 'picture:create_picture' %}">subir una imagen</a></li>
        {% endif %}
        <li class="divider"></li>
        <li><a href="{% url 'account:logout' %}"><i class="material-icons">input</i>Salir</a></li>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse hide" id="clicking"><i class="material-icons">menu</i></a>
    {% block content-down %}{% endblock %}
{% endblock %}
{% block script %}
    <script>
        $('#test').click(function () {
            $('#clicking').click();
        });
        $('.datepicker').pickadate({
            selectMonths: false, // Creates a dropdown to control month
            selectYears: 50, // Creates a dropdown of 50 years to control year
            format: "yyyy"
        });
    </script>
{% endblock %}