{% extends 'account/dashboard.html' %}

{% block title %}
Efemérides del día
{% endblock %}

{% block content-left %}
    <h2 class="center">Efemérides de hoy</h2>
    {% for event in event_list %}
        <p><a href="{% url 'event:detail_event' event.pk %}">{{ event.date }} -> {{ event.title }}</a></p>
    {% empty %}
        <p>No hay efemérides</p>
    {% endfor %}
    <a href="{% url 'event:create_event' %}" class="btn blue">Añadir</a>
    <a href="{% url 'event:list_event' %}" class="btn blue">Ver todas las efemérides</a>
{% endblock %}