{% extends 'account/dashboard.html' %}

{% block title %}
    Todas las Encuestas
{% endblock %}

{% block content-left %}
    <p><a href="{% url 'poll:list_national_passenger' %}" class="btn blue-grey">Encuestas a Pasajeros Nacionales</a></p>
    <p><a href="{% url 'poll:list_international_passenger' %}" class="btn blue-grey">Encuestas a Pasajeros internacionales</a></p>
    <p><a href="{% url 'poll:list_airline_represent' %}" class="btn blue-grey">Encuestas a Representantes de Lineas Aereas</a></p>
{% endblock %}