{% extends 'account/dashboard.html' %}
{% block title %}
    Encuesta a pasajeros internacionales
{% endblock %}

{% block content-left %}
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Nacionalidad</th>
            <th>Numero de vuelo</th>
            <th>Fecha de salida</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for internationalpassengerpoll in internationalpassengerpoll_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ internationalpassengerpoll.nationality }}</td>
                <td>{{ internationalpassengerpoll.no_fly }}</td>
                <td>{{ internationalpassengerpoll.date_out }}</td>
                <td colspan="3">
                    <a href="{% url 'poll:detail_international_passenger' internationalpassengerpoll.pk %}">
                        <i class="material-icons">description</i>
                    </a>
                    <a href="{% url 'poll:update_international_passenger' internationalpassengerpoll.pk %}">
                        <i class="material-icons">edit_mode</i>
                    </a>
                    <a href="{% url 'poll:delete_international_passenger' internationalpassengerpoll.pk %}">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'poll:create_international_passenger' %}" class="btn blue-grey">Añadir</a>
{% endblock %}