{% extends 'account/dashboard.html' %}
{% block title %}
    Detalles de la encuesta para pasajeros internacionales
{% endblock %}

{% block content-left %}
    <p>Nacionalidad: {{ internationalpassengerpoll.nationality }}</p>
    <p>Numero de vuelo: {{ internationalpassengerpoll.no_flay }}</p>
    <p>Fecha de salida: {{ internationalpassengerpoll.date_out }}</p>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Servicios</th>
            <th>Evaluacion</th>
            <th>Causa de la evaluacion</th>
        </tr>
        </thead>
        <tbody>
        {% for service in internationalpassengerpoll.internationalservice_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.evaluation }}</td>
                {% if service.why %}
                    <td>{{ service.why }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="center">En su opinión ¿cuáles son los aspectos a mejorar para que usted reciba el servicio deseado?</p>
    <p>{{ internationalpassengerpoll.opinion }}</p>
    <a href="{% url 'poll:update_international_passenger' internationalpassengerpoll.pk %}" class="btn blue-grey">Editar</a>
    <a href="{% url 'poll:delete_international_passenger' internationalpassengerpoll.pk %}" class="btn red">Eliminar</a>
    <a href="{% url 'poll:list_international_passenger' %}" class="btn blue">Listado de Encuestas</a>
{% endblock %}