{% extends 'account/dashboard.html' %}
{% block title %}
    Detalles de la encuesta para pasajeros nacionales
{% endblock %}

{% block content-left %}
    <div class="center">
        <div class="col 4">
            <p>Numero de vuelo: {{ nationalpassengerpoll.no_fly }}</p>
        </div>
        <div class="col 4">
            <p>Fecha: {{ nationalpassengerpoll.date }}</p>
        </div>
        <div class="col 4">
            <p>Terminal aerea: {{ nationalpassengerpoll.airline }}</p>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>Servicios</th>
            <th>Evaluacion</th>
            <th>Causa de la evaluacion</th>
        </tr>
        </thead>
        <tbody>
        {% for service in nationalpassengerpoll.service_set.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ service.title }}</td>
                <td>{{ service.evaluation }}</td>
                {% if service.why %}
                    <td>{{ service.why }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p class="center">En su opinión ¿cuáles son los aspectos a mejorar para que usted reciba el servicio deseado?</p>
    <p>{{ nationalpassengerpoll.opinion }}</p>
    <a href="{% url 'poll:update_national_passenger' nationalpassengerpoll.pk %}" class="btn blue-grey">Editar</a>
    <a href="{% url 'poll:delete_national_passenger' nationalpassengerpoll.pk %}" class="btn red">Eliminar</a>
    <a href="{% url 'poll:list_national_passenger' %}" class="btn blue">Listado de Encuestas</a>
{% endblock %}