{% extends 'account/dashboard.html' %}

{% block title %}
    Encuestas a pasajeros nacionales
{% endblock %}

{% block content-left %}
    {% for nationalpassengerpoll in nationalpassengerpoll_list %}
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>Numero de vuelo</th>
                <th>Fecha</th>
                <th>Terminal aerea</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ nationalpassengerpoll.no_fly }}</td>
                <td>{{ nationalpassengerpoll.date }}</td>
                <td>{{ nationalpassengerpoll.airline }}</td>
                <td colspan="3">
                    <a href="{% url 'poll:detail_national_passenger' nationalpassengerpoll.pk %}"><i class="material-icons">description</i></a>
                    <a href="{% url 'poll:update_national_passenger' nationalpassengerpoll.pk %}"><i class="material-icons">edit_mode</i></a>
                    <a href="{% url 'poll:delete_national_passenger' nationalpassengerpoll.pk %}"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            </tbody>
        </table>
    {% endfor %}
    <a href="{% url 'poll:create_national_passenger' %}" class="btn blue-grey">Añadir</a>
{% endblock %}