{% extends 'account/dashboard.html' %}

{% block title %}
    Reportes de emergencia
{% endblock %}

{% block content-left %}
    <h4 class="center">Preparación y respuesta ante emergencias</h4>
    <h5 class="center">Informe de situación de emergencia</h5>
    <h6 class="center">Informe de {{ emergency.get_report_display }}</h6>
    <div class="container-fluid">
        <div class="col l6">
            <h5 class="center">Aereopuerto {{ emergency.airport }}</h5>
        </div>
        <div class="col l6">
            <h5 class="center">Informe No: {{ emergency.no }}</h5>
        </div>
    </div>
    <p>Fecha y hora de ocurrencia: {{ emergency.datetime }}</p>
    <p>Lugar de ocurrencia: {{ emergency.place }}</p>
    <p>Descripción: {{ emergency.description }}</p>
    <h5>Analisis de situaciones reales</h5>
    {% if emergency.report != 's' %}
        {% for real_analysis in real_analysiss %}
            <div class="row">
                <table class="table highlight">
                    <tr>
                        <th>Afectaciones al medio ambiente:</th>
                        <td>{{ real_analysis.affections }}</td>
                    </tr>
                    <tr>
                        <th>Medidas inmediatas adoptadas:</th>
                        <td>{{ real_analysis.measures }}</td>
                    </tr>
                    <tr>
                        <th>¿Ocurre por primera vez?</th>
                        {% if real_analysis.first_time %}
                            <td>Si</td>
                        {% else %}
                            <td>No</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Causas:</th>
                        <td>{{ real_analysis.cause }}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ real_analysis.date }}</td>
                    </tr>
                    <tr>
                        <th>Resumen de los resultados llevados a cabo según “Plan de reducción de desastres”</th>
                        <td>{{ real_analysis.summary }}</td>
                    </tr>
                    <tr>
                        <th>Evaluación de la eficacia</th>
                        <td>{{ real_analysis.evaluation }}</td>
                    </tr>
                    <tr>
                        <th>Realizado por</th>
                        <td><a href="{% url 'account:detail_user' real_analysis.make_by.pk %}">{{ real_analysis.make_by }}</a></td>
                    </tr>
                </table>
            </div>
            <a href="{% url 'model:detail_real_analysis' real_analysis.pk %}" class="btn blue">Detalles Analisis</a>
            <a href="{% url 'model:update_real_analysis' real_analysis.pk %}" class="btn blue-grey">Editar Analisis</a>
            {% if user.is_superuser %}
                <a href="{% url 'model:delete_real_analysis' real_analysis.pk %}" class="btn red">Eliminar Analisis</a>
            {% endif %}
        {% empty %}
            <h6>No hay analisis de situaciones reales que mostrar</h6>
        {% endfor %}
    {% else %}
        {% for simulationanalysis in simulation_analysiss %}
            <table>
                <tr>
                    <th>Resumen de los resultados del ejercicio designado por “Plan de reducción de desastres” </th>
                    <td>{{ simulationanalysis.summary }}</td>
                </tr>
                <tr>
                    <th>Evaluación de la eficacia</th>
                    <td>{{ simulationanalysis.evaluation }}</td>
                </tr>
                <tr>
                    <th>¿Es necesario revisar algún procedimiento  o el Plan de reducción de desastres?</th>
                    {% if simulationanalysis.is_necessary_check %}
                        <td>Si</td>
                    {% else %}
                        <td>No</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if simulationanalysis.specify %}
                        <th>Especificaciones</th>
                        <td>{{ simulationanalysis.specify }}</td>
                    {% endif %}
                </tr>
                <tr>
                    {% if simulationanalysis.participants %}
                        <th>Documento</th>
                        <td>
                            <a href="{{ simulationanalysis.participants.url }}" data-position="right" data-delay="50" data-tooltip="Descargar documento" class="tooltipped">
                                <i class="material-icons">system_update_alt</i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            </table>
            <a href="{% url 'model:detail_simulation_analysis' simulationanalysis.pk %}" class="btn blue">Detalles Analisis</a>
            <a href="{% url 'model:update_simulation_analysis' simulationanalysis.pk %}" class="btn blue-grey">Editar Analisis</a>
            {% if user.is_superuser %}
                <a href="{% url 'model:delete_simulation_analysis' simulationanalysis.pk %}" class="btn red">Eliminar Analisis</a>
            {% endif %}
        {% empty %}
            <h6>No hay analisis de situaciones simulacros que mostrar</h6>
        {% endfor %}
    {% endif %}
    <br>
    <a href="{% url 'model:update_emergency' emergency.pk %}" class="btn blue-grey">Editar Informe</a>
    {% if user.is_superuser %}
        <a href="{% url 'model:delete_emergency' emergency.pk %}" class="btn red">Eliminar Informe</a>
    {% endif %}
{% endblock %}