{% extends 'navbar.html' %}
{% load staticfiles %}
{% load filters %}

{% block title %}Dashboard{% endblock %}

{% block content-down %}
    <main class="row">
        <section class="col l8">
            {% block content-left %}
                <ul id="sga">
                    <li style="transform: translateX(0px); opacity: 0;">
                        <h2 class="center">Sistema de gestion ambiental ECASA</h2>
                    </li>
                </ul>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s3"><a class="blue-text" href="#test1">Modelos</a></li>
                            <li class="tab col s3"><a class="blue-text" href="#test2">Bibliografia</a></li>
                            <li class="tab col s3"><a class="blue-text" href="#test3">Boletin</a></li>
                            <li class="tab col s3"><a class="blue-text" href="#test4">Efemerides</a></li>
                        </ul>
                    </div>
                    <div id="test1" class="col s12 l12 m12">
                        <br>
                        <a href="{% url 'model:list_modelr01pg01' %}" class="btn waves-effect blue tooltipped"
                           data-position="right" data-delay="50" data-tooltip="Aspectos Ambientales">Modelo
                            R-01/PG.190-01</a>
                        <a href="{% url 'model:list_law' %}" class="btn waves-effect blue tooltipped"
                           data-position="right" data-delay="50" data-tooltip="Requerimientos Legales">Modelo
                            R-01/PG.190-02</a>
                        <a href="{% url 'model:list_emergency' %}" class="btn waves-effect blue tooltipped"
                           data-position="right" data-delay="50" data-tooltip="Situaciones de Emergencia">Modelo
                            R-01/PG.190-03</a>
                        <a href="{% url 'model:list_communication' %}" class="btn waves-effect blue tooltipped"
                           data-position="right" data-delay="50" data-tooltip="Control de la Informacion">Modelo
                            R-01/PG.190-04</a>
                        <a href="{% url 'audit:list_general_program' %}" class="btn waves-effect blue tooltipped"
                           data-position="right" data-delay="50" data-tooltip="Auditorias Internas">Modelo
                            R-01/PG.190-05</a>
                        <a href="{% url 'waste:list_dangerous_waste' %}" class="btn waves-effect blue tooltipped"
                           data-position="right" data-delay="50" data-tooltip="Desechos Peligrosos">Modelo
                            R-01/PG.190-06</a>
                        <a href="{% url 'poll:all_poll' %}" class="btn waves-effect blue tooltipped"
                           data-position="right" data-delay="50" data-tooltip="Encuestas">Modelo R-01/PG.190-07</a>
                    </div>

                    <div id="test2" class="col s12">
                        <br>
                        <div class="col l4">
                            <a href="{% url 'model:list_law' %}" class="waves-effect waves-teal btn-flat">Normas,
                                Decretos Leyes</a>
                        </div>
                        <div class="col l4">
                            <a href="{% url 'bibliography:list_cga_bibliography' %}"
                               class="waves-effect waves-teal btn-flat">Documentos de CGA</a>
                        </div>
                        <div class="col l4">
                            <a href="{% url 'bibliography:list_other_bibliography' %}"
                               class="waves-effect waves-teal btn-flat">Otros Documentos</a>
                        </div>
                    </div>
                    <div id="test3" class="col s12">
                        {% if bulletin_list %}
                            <table>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Titulo</th>
                                    <th>Fecha de publicacion</th>
                                    <th>Documento</th>
                                    {% if user.is_superuser %}
                                        <th>Acciones</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for bulletin in bulletin_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ bulletin.title }}</td>
                                        <td>{{ bulletin.pub_date }}</td>
                                        <td>
                                            <a href="{{ bulletin.file.url }}" data-position="bottom" data-delay="50"
                                               data-tooltip="Descargar documento {{ bulletin.file }}"
                                               download="{{ bulletin.title }}"
                                               class="tooltipped">
                                                {% with bulletin.file.url|check_extension as image %}
                                                    <img src="/static/bulletin/images/{{ image }}" width="50"
                                                         height="50">
                                                {% endwith %}
                                            </a>
                                        </td>
                                        {% if user.is_superuser %}
                                            <td colspan="2">
                                                <a href="{% url 'bulletin:delete_bulletin' bulletin.pk %}"><i
                                                        class="material-icons">delete</i></a>
                                                <a href="{% url 'bulletin:update_bulletin' bulletin.pk %}"><i
                                                        class="material-icons">edit_mode</i></a>
                                            </td>
                                        {% endif %}
                                        {% empty %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4 class="center red-text">No hay boletines todavia</h4>
                        {% endif %}
                    </div>

                    <div id="test4" class="col s12">
                        {% if events_list %}
                            <table>
                                <tr>
                                    <th>No</th>
                                    <th>Fecha</th>
                                    <th>Titulo</th>
                                    <th>Descripcion</th>
                                </tr>
                                {% for event in events_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="{% url 'event:detail_event' event.pk %}">{{ event.date }}</a></td>
                                        <td>{{ event.title }}</td>
                                        <td>{{ event.description }}</td>
                                    </tr>
                                {% empty %}

                                {% endfor %}
                            </table>
                        {% else %}
                            <p class="center">No hay efemérides para mostrar</p>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </section>

        <section class="col l4">
            {% block content-right %}
                <h3>Efemérides de hoy</h3>
                {% for event in event_today_list %}
                    <p><a href="{% url 'event:detail_event' event.pk %}">{{ event.date }} -> {{ event.title }}</a></p>
                {% empty %}
                    <p>No hay efemérides</p>
                {% endfor %}
                <a href="{% url 'event:list_event_today' %}" class="small btn blue">Ver todas</a>
            {% endblock %}
            <h3>Consejo Ambiental</h3>
            {% for environmental in environmental_council_list %}
                <h5><a href="#environmental{{ environmental.pk }}" class="modal-trigger">{{ environmental }}</a></h5>
                <div id="environmental{{ environmental.pk }}" class="modal">
                    <div class="modal-content">
                        <h4>{{ environmental.get_full_name }}</h4>
                        <p>Nombre: {{ environmental.first_name }}</p>
                        <p>Apellidos: {{ environmental.last_name }}</p>
                        <p>Cargo: {{ environmental.position }}</p>
                        {% if user.is_superuser %}
                            <div class="right">
                                <a href="{% url 'environmental_council:update_environmental_council' environmental.pk %}">
                                    <i class="material-icons">mode_edit</i>
                                </a>
                                <a href="{% url 'environmental_council:delete_environmental_council' environmental.pk %}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
                    </div>
                </div>
            {% empty %}
                <p>No se han añadido integrantes del Consejo Ambiental todavia</p>
            {% endfor %}
            {% if user.is_superuser %}
                <a href="{% url 'environmental_council:create_environmental_council' %}" class="btn btn-sm">Añadir</a>
            {% endif %}
        </section>
    </main>
{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="{% static 'account/js/dashboard.js' %}"></script>
{% endblock %}