{% extends 'account/dashboard.html' %}
{% load staticfiles %}
{% block title %}
    Perfil de {{ prof.username }}
{% endblock %}

{% block content-left %}
    <div class="container-fluid">
        <div class="col 4">
            {% if prof.picture %}
                <img src="{{ prof.picture.url }}" class="circle" width="200" height="200">
            {% else %}
                <img src="{% static 'account/images/user.png' %}" width="200" height="200" class="circle">
            {% endif %}
        </div>
        <div class="col 8">
            <h3>Perfil de {{ prof.first_name }}</h3>
            <p>Nombre de usuario: {{ prof.username }}</p>
            <p>Nombre: {{ prof.first_name }}</p>
            <p>Apellidos: {{ prof.last_name }}</p>
            <p>Email: {{ prof.email }}</p>
            <p>Fecha de nacimiento: {{ prof.born_date }}</p>
            <p>Sexo: {{ prof.get_gender_display }}</p>
            {% if can_edit %}
                <a href="{% url 'account:update_user' prof.pk %}" class="btn blue">Editar</a>
                <a href="{% url 'account:update_password_user' prof.pk %}" class="btn blue-grey">Cambiar contraseña</a>
            {% endif %}
            {% if user.is_superuser %}
                <a href="{% url 'account:delete_user' prof.pk %}" class="btn red">Eliminar</a>
            {% endif %}
        </div>
    </div>
{% endblock %}