{% extends 'account/dashboard.html' %}

{% block title %}
Cambiar contraseña
{% endblock %}

{% block content-down %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="repeat">Repita la contraseña</label>
                <input type="password" id="repeat" name="repeat">
            <input type="submit" value="Aceptar" class="btn" id="submit">
            <a href="{% url 'account:detail_user' profile.pk %}" class="btn red">Cancelar</a>
        </form>
    </div>
{% endblock %}

{% block script %}
    {% load staticfiles %}
    {{ block.super }}
    <script src="{% static 'account/js/update_password.js' %}"></script>
{% endblock %}