{% extends 'account/dashboard.html' %}
{% load staticfiles %}

{% block title %}
Editar perfil de {{ form.instance.username }}
{% endblock %}

{% block content-down %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="errorlist">
                    {{ form.first_name.errors }}
                    {{ form.username.errors }}
                    {{ form.born_date.errors }}
                    {{ form.last_name.errors }}
                    {{ form.email.errors }}
                    {{ form.sex.errors }}
                </div>
                <div class="col l4">
                    {% if form.instance.picture %}
                        <img src="{{ form.instance.picture.url }}" alt="{{ form.instance.username }}" class="circle" width="200" height="200">
                        {% else %}
                        <img src="{% static 'account/images/user.png' %}" width="200" height="200" class="circle">
                    {% endif %}
                    {{ form.picture }}
                </div>
                <div class="col l8">
                    <div class="col l4">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.born_date.label_tag }}
                        {{ form.born_date }}
                    </div>
                    <div class="col l8">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.sex.label_tag }}
                        {{ form.sex }}
                    </div>
                    <input type="submit" value="Aceptar" class="btn blue-grey">
                    <a href="{% url 'account:detail_user' profile.pk %}" class="btn red">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}