{% extends 'account/dashboard.html' %}

{% block content-down %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% if form.username.help_text %}
                <p class="help">{{ form.username.help_text|safe }}</p>
            {% endif %}
            {{ form.username.errors }}
            {{ form.username.label_tag }}
            {{ form.username }}
            <label>
                {{ form.password.errors }}
                {{ form.password.label_tag }}
                <input type="password" name="password">
            </label>
            {{ form.first_name.errors }}
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {{ form.last_name.errors }}
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {{ form.email.errors }}
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.picture.errors }}
            {{ form.picture.label_tag }}
            {{ form.picture }}<br>
            {{ form.born_date.errors }}
            {{ form.born_date.label_tag }}
            {{ form.born_date }}
            {{ form.sex.errors }}
            {{ form.sex.label_tag }}
            {{ form.sex }}
            <input type="submit" value="Aceptar" class="btn">
            <a href="{% url 'account:detail_user' profile.pk %}" class="btn red">Cancelar</a>
        </form>
    </div>
{% endblock %}