{% extends 'account/dashboard.html' %}

{% block title %}
    Analisis de situaciones reales
{% endblock %}

{% block content-left %}
    <div class="row">
        <table class="table highlight">
            <tr>
                <th>Afectaciones al medio ambiente:</th>
                <td>{{ real_analysis.affections }}</td>
            </tr>
            <tr>
                <th>Medidas inmediatas adoptadas:</th>
                <td>{{ real_analysis.measures }}</td>
            </tr>
            <tr>
                <th>¿Ocurre por primera vez?</th>
                {% if real_analysis.first_time %}
                    <td>Si</td>
                {% else %}
                    <td>No</td>
                {% endif %}
            </tr>
            <tr>
                <th>Causas:</th>
                <td>{{ real_analysis.cause }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ real_analysis.date }}</td>
            </tr>
            <tr>
                <th>Resumen de los resultados llevados a cabo según “Plan de reducción de desastres”</th>
                <td>{{ real_analysis.summary }}</td>
            </tr>
            <tr>
                <th>Evaluación de la eficacia</th>
                <td>{{ real_analysis.evaluation }}</td>
            </tr>
            <tr>
                <th>Emergencia</th>
                <td>{{ real_analysis.emergency }}</td>
            </tr>
            <tr>
                <th>Realizado por</th>
                <td><a href="{% url 'account:detail_user' real_analysis.make_by.pk %}">{{ real_analysis.make_by }}</a></td>
            </tr>
        </table>
        <a href="{% url 'model:update_real_analysis' real_analysis.pk %}" class="btn blue-grey">Editar</a>
        <a href="{% url 'model:delete_real_analysis' real_analysis.pk %}" class="btn red">Eliminar</a>
    </div>
{% endblock %}